<template>
  <div>
    <b-field label="ID" horizontal>{{ agentConfig.id }}</b-field>
    <b-field label="Title" horizontal>{{ agentConfig.title }}</b-field>
    <b-field label="Backend" horizontal>
      <div v-if="agentConfig.backendUrlMapping && Object.keys(agentConfig.backendUrlMapping || {}).length !== 0">
        <div v-for="(value, version) in agentConfig.backendUrlMapping" :key="agentConfig.id+version" horizontal><strong>{{version}}</strong>: {{ value }}</div>
      </div>
      <div v-else-if="agentConfig.backendUrl">
        <div v-for="version in versions" :key="agentConfig.id+version" horizontal><strong>{{version}}</strong>: {{agentConfig.backendUrl}}/{{ version }}/</div>
      </div>
      <div v-else-if="openApiConfig.backendBaseUrlMapping && Object.keys(openApiConfig.backendBaseUrlMapping || {}).length !== 0">
        <div v-for="(value, version) in openApiConfig.backendBaseUrlMapping" :key="agentConfig.id+version" horizontal><strong>{{version}}</strong>: {{ value }}/{{ agentConfig.id }}/</div>
      </div>
      <div v-else-if="openApiConfig.backendBaseUrl">
        <div v-for="version in versions" :key="agentConfig.id+version" horizontal><strong>{{version}}</strong>: {{openApiConfig.backendBaseUrl}}/{{ agentConfig.id }}/{{ version }}/</div>
      </div>
      <div v-else>
        No backend configured
      </div>
    </b-field>
    <b-field label="OpenAPI" horizontal>
      <div>
        <div v-for="version in versions" :key="agentConfig.id+version" horizontal><strong>{{version}}</strong>: {{ agentConfig.openApiBaseUrl || openApiConfig.openApiBaseUrl }}{{ version }}/</div>
      </div>
    </b-field>
    <b-field label="Backend Authentication" horizontal v-if="backendAuthentication">
      <div v-if="backendAuthentication.type.toLowerCase() === 'basic'"><strong>Basic</strong>: {{ backendAuthentication.username }}:{{ backendAuthentication.password }}</div>
      <div v-if="backendAuthentication.type.toLowerCase() === 'bearer'"><strong>Bearer token</strong>: {{ backendAuthentication.token }}</div>
      <div v-if="backendAuthentication.type.toLowerCase() === 'custom'"><strong>Custom headers</strong>: <span v-for="(value, key, idx) in backendAuthentication.header" :key="agentConfig.id+'custom'+key"><span v-if="idx != 0">, </span><em>{{key}}</em>: {{value}} </span></div>
    </b-field>
    <b-field horizontal>
      <b-collapse :open="false" :aria-id="`yaml`+agentConfig.id">
        <template #trigger="props">
          <b-button
              label="Toggle yaml"
              type="is-primary"
              :aria-controls="`yaml`+agentConfig.id"
              :aria-expanded="props.open" />
        </template>
        <pre>{{ yamlAgent }}</pre>
      </b-collapse>
    </b-field>
  </div>
</template>

<script lang="ts">
import { AgentConfig, BackendAuthentication, OpenApiConfig } from '@/model'
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { stringify } from 'yaml';

@Component
export default class Agent extends Vue {
  @Prop({required: true})
  openApiConfig!: OpenApiConfig

  @Prop({required: true})
  agentConfig!: AgentConfig

  get versions(): string[] | undefined {
    if (this.agentConfig.versions?.length || 0 > 0) {
      return this.agentConfig.versions || undefined
    } else {
      return this.openApiConfig.versions || undefined
    }
  }


  @Watch('agentConfig.backendAuthentication', {deep: true})
  onAuthTypeChanged(value: BackendAuthentication | undefined, oldValue: BackendAuthentication | undefined) {
    console.log('Agent backend changed')
    this.$forceUpdate();
  }

  get backendAuthentication(): BackendAuthentication | undefined {
    return this.agentConfig.backendAuthentication || this.openApiConfig.backendAuthentication || undefined
  }

  get yamlAgent(): string {
    const agent: AgentConfig = {
      id: this.agentConfig.id,
      title: this.agentConfig.title || undefined,
      config: this.agentConfig.config || undefined,
      backendUrl: this.agentConfig.backendUrl || undefined,
      backendUrlMapping: (Object.keys(this.agentConfig.backendUrlMapping || {}).length > 0) ? this.agentConfig.backendUrlMapping : undefined,
      versions: ((this.agentConfig.versions?.length || 0) > 0) ? this.agentConfig.versions : undefined,
      openApiBaseUrl: this.agentConfig.openApiBaseUrl || undefined,
      backendAuthentication: this.agentConfig.backendAuthentication || undefined
    }
    return stringify(agent);
  }
}
</script>
