<template>
<div class="modal is-active">
  <div class="modal-background" @click.self="$emit('close')"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" @click="$emit('close')"></button>
    </header>
    <section class="modal-card-body">

    <b-field label="ID" horizontal>
      <b-input v-model="agentConfig.id" required :pattern="'urn:.*:.*'" validation-message="Agent identifiers must be URNs" placeholder="urn:...:..." />
    </b-field>
    <b-field label="Title" horizontal>
      <b-input v-model="agentConfig.title" required placeholder="Agent title"  />
    </b-field>
    <b-field label="Versions" horizontal>
      <div>
          <b-switch v-model="inheritVersions">Inherit versions from generic data app configuration</b-switch>
          <template v-if="!inheritVersions">
            <b-taginput v-model="agentConfig.versions" placeholder="Add a version (press enter to add)" aria-close-label="Delete this version" @input="onVersionsChanged" />
          </template>
      </div>
    </b-field>
    <b-field label="Backend" horizontal>
      <div>
        <div class="mb-2">
          <b-switch v-model="inheritBackend">Inherit backend from generic data app configuration</b-switch>
        </div>
        <template v-if="!inheritBackend">
          <div class="mb-2">
            <b-switch v-model="backendMapping">Configure backend per version</b-switch>
          </div>
          <template v-if="backendMapping">
            <div v-for="(value, version) in agentConfig.backendUrlMapping" :key="'backendmapping'+version" class="mb-2">
              <b-field>
                <p class="control">
                  <span class="button is-static">{{version}}</span>
                </p>
                <b-input v-model="agentConfig.backendUrlMapping[version]" :placeholder="`Backend URL for version ${version}`" @input="onFormChange" expanded />
              </b-field>
            </div>
          </template>
          <div v-else class="mb-2">
            <b-input v-model="agentConfig.backendUrl" :placeholder="`Backend URL for all versions`" @input="onFormChange"  />
          </div>
        </template>
      </div>
    </b-field>
    <b-field label="OpenAPI" horizontal>
      <div>
        <div class="mb-2">
            <b-switch v-model="inheritOpenApi">Inherit OpenAPI base URL from generic data app configuration</b-switch>
            <template v-if="!inheritOpenApi">
              <b-input v-model="agentConfig.openApiBaseUrl" placeholder="OpenAPI Base Url" @input="onFormChange" />
            </template>
        </div>
      </div>
    </b-field>
    <b-field label="Backend Authentication" horizontal>
      <div>
        <div class="mb-2">
            <b-switch v-model="inheritAuthentication" class="mb-2">Inherit backend authentication from generic data app configuration</b-switch>
            <template v-if="!inheritAuthentication">
              <div class="mb-2">
                <b-radio v-model="agentConfig.backendAuthentication.type" @input="onAuthTypeChanged" name="type" native-value="BASIC">Basic authentication</b-radio>
                <b-radio v-model="agentConfig.backendAuthentication.type" @input="onAuthTypeChanged" name="type" native-value="BEARER">Bearer Token authentication</b-radio>
                <b-radio v-model="agentConfig.backendAuthentication.type" @input="onAuthTypeChanged" name="type" native-value="CUSTOM">Custom Header authentication</b-radio>
              </div>
              <template v-if="agentConfig.backendAuthentication.type.toLowerCase() === 'basic'">
                <div class="mb-2"><b-input v-model="agentConfig.backendAuthentication.username" @input="onFormChange" placeholder="Username"  /></div>
                <div class="mb-2"><b-input v-model="agentConfig.backendAuthentication.password" @input="onFormChange" placeholder="Password"  /></div>
              </template>
              <template v-if="agentConfig.backendAuthentication.type.toLowerCase() === 'bearer'">
                <div><b-input v-model="agentConfig.backendAuthentication.token" @input="onFormChange" placeholder="Token"  /></div>
              </template>
              <template v-if="agentConfig.backendAuthentication.type.toLowerCase() === 'custom'">
                <div v-for="(value, key) in agentConfig.backendAuthentication.header" :key="'customAuthHeader'+key" class="mb-2">
                  <b-field>
                    <p class="control">
                      <span class="button is-static">{{key}}</span>
                    </p>
                    <b-input v-model="agentConfig.backendAuthentication.header[key]" placeholder="Token" @input="onFormChange"  />
                    <p class="control">
                        <b-button type="is-danger" icon-right="delete" @click="()=>{delete agentConfig.backendAuthentication.header[key]; onFormChange()}" />
                    </p>
                  </b-field>
                </div>
                <div>
                  <b-field>
                    <b-input v-model="authKeyAddition" placeholder="Add HTTP Header"  />
                    <p class="control">
                        <b-button type="is-success" icon-right="plus" @click="addAuthHeader" />
                    </p>
                  </b-field>
                </div>
              </template>
            </template>
        </div>
      </div>
    </b-field>
    <h3 class="subtitle">Resulting agent</h3>
    <Agent :key="'resultAgent'+resultId" :agentConfig="agentConfig" :openApiConfig="openApiConfig" />
    </section>
    <footer class="modal-card-foot">
      <b-button :label="(type == 'update') ? 'Update agent' : 'Create agent'" :type="{'is-primary': type == 'update', 'is-success': type != 'update'}" @click="sendForm($event)" />
      <button class="button" @click="$emit('close')">Cancel</button>
    </footer>
  </div>
</div>
</template>

<script lang="ts">
import { AgentConfig, BackendAuthentication, HTMLEvent, OpenApiConfig } from '@/model'
import axios from 'axios';
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'

import Agent from '../components/Agent.vue'

@Component({
  components: {
    Agent
  }
})
export default class AgentForm extends Vue {
  @Prop({required: true})
  openApiConfig!: OpenApiConfig

  @Prop({required: true})
  agentConfig!: AgentConfig

  @Prop({default: 'update'})
  type!: string;

  resultId = 0

  inheritBackend = false
  inheritVersions = false
  inheritOpenApi = false
  inheritAuthentication = true
  backendMapping = false

  authKeyAddition = ''

  async created() {
    this.inheritBackend = this.agentConfig.backendUrl === undefined
        && Object.keys(this.agentConfig.backendUrlMapping || {}).length !== 0
        && this.openApiConfig.backendBaseUrl !== undefined
        && Object.keys(this.openApiConfig.backendBaseUrlMapping || {}).length === 0
    this.inheritVersions = (this.openApiConfig.versions?.length || 0) > 0
    this.inheritOpenApi = this.openApiConfig.openApiBaseUrl !== undefined
    this.inheritAuthentication = true
    this.backendMapping = Object.keys(this.agentConfig.backendUrlMapping || {}).length !== 0
  }

  private api = axios.create({
    baseURL: 'mgmt',
  });

  @Watch('inheritVersions')
  onInheritVersionChanged(value: boolean, oldValue: boolean) {
    if (value) {
      this.agentConfig.versions = undefined
    }
  }

  @Watch('inheritBackend')
  onInheritBackendChanged(value: boolean, oldValue: boolean) {
    if (value) {
      this.agentConfig.backendUrl = undefined
      this.agentConfig.backendUrlMapping = undefined
    } else {
      if (this.backendMapping) {
        this.agentConfig.backendUrl = undefined
        this.agentConfig.backendUrlMapping = Object.fromEntries(this.agentConfig.versions!.map((version) => {
          return [version, this.agentConfig.backendUrlMapping![version] || '']
        }))
      } else {
        this.agentConfig.backendUrlMapping = undefined
      }
    }
  }

  @Watch('backendMapping')
  onBackendMappingChanged(value: boolean, oldValue: boolean) {
    if (value) {
      this.agentConfig.backendUrl = undefined
      this.agentConfig.backendUrlMapping = Object.fromEntries(this.agentConfig.versions!.map((version) => {
        return [version, this.agentConfig.backendUrlMapping![version] || '']
      }))
    } else {
      this.agentConfig.backendUrlMapping = undefined
    }
  }

  @Watch('inheritOpenApi')
  onInheritOpenApiChanged(value: boolean, oldValue: boolean) {
    if (value) {
      this.agentConfig.openApiBaseUrl = undefined
    }
  }

  @Watch('inheritAuthentication')
  onInheritAuthenticationChanged(value: boolean, oldValue: boolean) {
    if (value) {
      this.agentConfig.backendAuthentication = undefined
    } else {
      this.agentConfig.backendAuthentication = {
        'type': 'BASIC'
      }
    }
  }

  onVersionsChanged() {
    if (this.agentConfig.backendUrlMapping) {
      this.agentConfig.backendUrlMapping = Object.fromEntries(this.agentConfig.versions!.map((version) => {
        return [version, this.agentConfig.backendUrlMapping![version] || '']
      }))
    }
    this.onFormChange();
  }

  onFormChange() {
    this.resultId += 1;
    this.$forceUpdate();
  }

  onAuthTypeChanged() {
    switch(this.agentConfig.backendAuthentication?.type) {
      case 'BASIC':
        this.agentConfig.backendAuthentication!.token = undefined
        this.agentConfig.backendAuthentication!.header = undefined
      break;
      case 'BEARER':
        this.agentConfig.backendAuthentication!.username = undefined
        this.agentConfig.backendAuthentication!.password = undefined
        this.agentConfig.backendAuthentication!.header = undefined
      break;
      case 'CUSTOM':
        this.agentConfig.backendAuthentication!.username = undefined
        this.agentConfig.backendAuthentication!.password = undefined
        this.agentConfig.backendAuthentication!.token = undefined
        this.agentConfig.backendAuthentication!.header = {}
      break;
    }
    this.onFormChange();
  }

  addAuthHeader() {
    if (this.agentConfig.backendAuthentication!.header === undefined) {
      this.agentConfig.backendAuthentication!.header = {}
    }
    this.agentConfig.backendAuthentication!.header = {
      ...this.agentConfig.backendAuthentication!.header,
      [this.authKeyAddition]: ''
    }
    this.resultId += 1;
    this.onFormChange();
  }

  get versions(): string[] | undefined {
    if ((this.agentConfig.versions?.length || 0) > 0 || !this.inheritVersions) {
      return this.agentConfig.versions
    } else {
      return this.openApiConfig.versions
    }
  }

  get backendAuthentication(): BackendAuthentication | undefined {
    return this.agentConfig.backendAuthentication || this.openApiConfig.backendAuthentication
  }

  async sendForm(event: HTMLEvent) {
    event.target?.classList.add("is-loading")
    if (!this.agentConfig.id || this.agentConfig.id === "") {
      this.$buefy.toast.open({
        message: 'No agent identifier configured',
        type: 'is-danger',
        duration: 5000
      });
      event.target?.classList.remove("is-loading")
      return
    }
    if (!this.agentConfig.backendUrl
          && Object.keys(this.agentConfig.backendUrlMapping || {}).length === 0
          && !this.openApiConfig.backendBaseUrl
          && Object.keys(this.openApiConfig.backendBaseUrlMapping || {}).length === 0) {
      this.$buefy.toast.open({
        message: 'No backends configured on agent level as well as on data app level',
        type: 'is-danger',
        duration: 5000
      });
      event.target?.classList.remove("is-loading")
      return
    }

    try {
      if (this.type !== 'update') {
        await this.api.post('agents', this.agentConfig);
      } else {
        await this.api.post(`agents/${encodeURIComponent(this.agentConfig.id)}`, this.agentConfig);
      }
      this.$buefy.toast.open({
        message: `Successfully ${(this.type === 'update') ? 'updated' : 'created'} agent ${this.agentConfig.id}`,
        type: 'is-success'
      });
    } catch (e) {
      this.$buefy.toast.open({
        message: `Can't ${(this.type === 'update') ? 'update' : 'create'} agent ${this.agentConfig.id}`,
        type: 'is-danger',
        duration: 5000
      });
    }
    this.$emit("updated");
    event.target?.classList.remove("is-loading")
  }
}
</script>
