<template>
  <div id="app">
    <section class="hero is-bold is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">TSG OpenAPI Data App Management</h1>
        </div>
      </div>
    </section>
    <b-tabs position="is-centered" size="is-large">
      <b-tab-item label="Policy Management">
        <Policies />
      </b-tab-item>
      <b-tab-item label="Agent Management">
        <Agents />
      </b-tab-item>
      <b-tab-item label="Tester">
        <Tester />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Policies from './views/Policies.vue';
import Agents from './views/Agents.vue';
import Tester from './views/Tester.vue';

@Component({
  components: {
    Policies,
    Agents,
    Tester
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.dialog .modal-card {
  max-width: 640px;
}

.modal-card {
  width: 100%;
}

.detail .table tr:not(:last-child) td, .detail .table th {
  border-bottom-width: 1px !important;
}

@media (min-width: 768px) {
  .modal-card {
    width: 100% !important;
  }
}
@media (min-width: 1024px) {
  .modal-card {
    width: 75% !important;
  }
}

</style>
